.footer {
  @include section(60px, 60px);

  background-color: var(--dark-bg-cl);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__address {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo-half {
  color: var(--footer-logohalf-cl);
}
