.team {
  @include section;

  text-align: center;
  max-width: 1600px;
  margin: 0 auto;

  background-color: var(--secondary-bg-cl);
}

.team__title {
  font-weight: 700;
  font-size: 36px;

  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--light-bg-cl);
}

.team__wrap {
  padding: 30px 0;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 16px;

  color: var(--secondary-txt-cl);
}

.team__socials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team__socials-link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: background var(--main-animation);

  &:hover,
  &:focus {
    background-color: var(--accent-cl);
  }
}

.team__socials-icon {
  fill: var(--main-icon-cl);
  transition: fill var(--main-animation);

  .team__socials-link:hover &,
  .team__socials-link:focus & {
    fill: var(--light-icon-cl);
  }
}
